  <div class="section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Contact Us</h2>

          <div class="row">
            <div class="col-md-4" style="margin-bottom: 49px;">
              <h3 style="margin-top:36px;margin-bottom:9px;"><i class="fa fa-user-plus"></i>&nbsp;Follow us</h3>
              <a href="#" target="_blank"><i class="fa fa-facebook social fb"></i></a>
              <a href="#" target="_blank"><i class="fa fa-instagram social insta"></i></a>
              <br />
              <h3 style="margin-top:36px"><i class="fa fa-envelope-open-o"></i>&nbsp;Drop a line</h3>
              <p><i class="fa fa-at" style="margin-right:9px;"></i><a href="#" class='link-normal' target="_blank">mail@example.com</a></p>
            </div>
            
            <div class="col-md-7 offset-md-1">           
              <h3><i class="fa fa-edit"></i>&nbsp;Write to us</h3>
              <center>
                <form id="contact-form" method="POST" action="https://formspree.io/mail@example.com">
                    <input type="email" name="_replyto" placeholder="Your email" required>
                    <input type="text" name="_subject" placeholder="Subject" required>
                    <textarea name="message" placeholder="Your message" required></textarea>
                    <button type="submit">Send</button>
                    <div class="submit-msg">Form submitted successfully</div>
                </form>
              </center>
            </div>
          </div>

    
        </div>  
      </div>    
    </div>         
  </div>