  <div class="section" id="events">
        <div class="container">
              <h2>Events</h2>

              <div class="timeline">
                <div class="ev-container left">
                  <div class="ev-content">
                    <div class="ev-title">Event title</div>
                    <div class="ev-desc">Lorem ipsum..</div>
                    <div class="ev-info">
                      <div class="ev-date">01 Jan</div>
                      <div class="ev-time">00:00</div>
                      <div class="ev-venue">Somewhere, Someplace</div>
                    </div>
                    <div class="ev-link">
                      <a class="ev-btn">Follow</a>
                      <a class="ev-btn">Register</a>
                    </div>
                  </div>
                </div>
                <div class="ev-container right">
                  <div class="ev-content">
                    <div class="ev-title">Event title</div>
                    <div class="ev-desc">
                      lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit. lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                    <div class="ev-info">
                      <div class="ev-date">01 Jan</div>
                      <div class="ev-time hidden">00:00</div>
                      <div class="ev-venue">Someplace</div>
                    </div>
                  </div>
                </div>
                <div class="ev-container left">
                  <div class="ev-content">
                    <div class="ev-title">Event title</div>
                    <div class="ev-desc">Lorem ipsum dolor sit amet, consectetur adipisicing  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    <div class="ev-info">
                      <div class="ev-date">01 Jan</div>
                      <div class="ev-time hidden">00:00</div>
                      <div class="ev-venue hidden">Somewhere, Someplace</div>
                    </div>
                    <div class="ev-link">
                      <a class="ev-btn">Follow</a>
                    </div>
                  </div>
                </div>

              </div>


        </div> 
  </div>



  <script type="text/javascript">
      //For events
      $(".ev-content .ev-venue").prepend("<i class='fa fa-map-marker' style='width: 18px;text-align:center;'></i> &nbsp");
      $(".ev-content .ev-time").prepend("<i class='fa fa-clock-o' style='width: 18px;text-align:center;'></i> &nbsp");
      $(".ev-content .ev-date").prepend("<i class='fa fa-calendar' style='width: 18px;text-align:center;'></i> &nbsp");
  </script>

