  <div class="section" id="home" style="margin-top: -64px;margin-bottom: 25px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <center>
            <img src="logo.png" alt="[logo] Mathematics Society" height="50" width="auto" style="margin-bottom:25px;">
            <h1>Mathematics Society</h1>
            <h2>IIT Delhi</h2>
          </center>

          <div class="row" style="margin-top: 36px;">
            <div class="col-sm-6">
              <a class="btn-1 block center" href="#/about/">About</a>
            </div>
            <div class="col-sm-6">
              <a class="btn-1 block center" href="#/events/">Events</a>
            </div>
            <div class="col-sm-6">
              <a class="btn-1 block center" href="#/team/">Team</a>
            </div>
            <div class="col-sm-6">
              <a class="btn-1 block center" href="#/contact/">Contact</a>
            </div>
          </div>

          <div id="feed" class="container">
            <div class="row">
              <div class="col-8" style="margin-bottom:15px;"><h3>Latest Posts</h3></div>
              <div class="col-4" style="text-align:right;"><a href="https://mathsociitd.github.io/blog/" target="_blank">Show all</a></div>
            </div>
            <div class="row" id="feed-items"></div>
            <div class="row" style="margin-top: 18px;">
              <div class="col-xl-9 col-md-7 col-sm-4 col-3"></div>
              <div class="col-xl-3 col-md-5 col-sm-8 col-9"><div onclick="window.open('https://mathsociitd.github.io/blog/','_blank');" id="feeds-all-btn">Continue Reading<i class="fa fa-angle-right arrow"></i></div></div>
            </div>
          </div>


          <div style="margin-top:45px;">
            <center>
              <div class="flex">
                <div style="margin-right:16px;" class="for-light-text">
                  <span>Switch back to light mode?</span>
                </div>
                <div class="flex">
                  <i class="fa fa-sun-o" style="font-size:34px;"></i>
                  <label class="switch" id="mode-toggler-switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                  </label>
                  <i class="fa fa-moon-o" style="font-size:34px;margin-left:4px;"></i>
                </div>
                <div style="margin-left:16px;" class="for-dark-text">
                  <span>Try out the dark mode now!</span>
                </div>
                
              </div>
            </center>

            <div onclick="location='archives/'" class="color-box l-font pointer" style="margin-top: 50px;"><span style="margin-right: 16px;">Know about the works we have done in the past</span><i class="fa fa-angle-right arrow"></i></div>
            
          </div>

        </div>  
      </div>    
    </div>  

  </div>


  <div style="position:absolute;bottom:0;left:0;right:0;">

    <center>
      <span style="display: inline-block;font-size:1.05em;">Designed & Developed by <a href="https://subhalingamd.github.io/" target="_blank">Subhalingam D</a></span>
    </center>
    
  </div>


  <script>
    const RSS_URL = `https://mathsociitd.github.io/blog/feed.xml`;

    $.ajax(RSS_URL, {
      accepts: {
        xml: "application/rss+xml"
      },
      dataType: "xml",
      cache: false,

      success: function(data) {
        $(data)
          .find("item")
          .each(function() {
            const el = $(this);

            const template = `
              <article class="col-md-6">
                <div class="feed-item">        
                  <h4 class="feed-title">${el.find("title").text()}</h4>
                  <p class="feed-summ">${el.find("summary").text()}</p>
                  
                  <div><a href="${el.find("link").text()}" target="_blank" style="opacity:0.9" rel="noopener">Read more
                  </a></div>

                  <div class="feed-dt">${el.find("pubDate").text()}&nbsp;</div>
                </div>
              </article>
            `;

            $("#feed-items").append(template)
          });

          $("#feed").fadeIn();
      }
    });
  </script>