  <div class="section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Our Team</h2>

          <div class="row">

            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">John Doe</div>
                <div class="mem-pos">Founder</div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">John Doe</div>
                <div class="mem-pos">Founder</div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">John Doe</div>
                <div class="mem-pos">Founder</div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">John Doe</div>
                <div class="mem-pos">Founder</div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">John Doe</div>
                <div class="mem-pos">Founder</div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">John Doe</div>
                <div class="mem-pos">Founder</div>
              </div>
            </div>

          </div>

        </div>  
      </div>    
    </div>    
  </div>