@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 500;
  font-size: 1.50em;
  text-align: center;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
  opacity: 0.87;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


body.dark {
  color: rgba(255,255,255,0.6);
  background-color: #121212;
}
.dark .card {
    background-color: #121212;
    box-shadow: 0 2px 5px 0 grey,0 2px 10px 0 grey; 
}
.dark .card:hover {
  box-shadow: 0 8px 17px 0 grey,0 6px 20px 0 grey;
}
.dark .card-title a {
  color: rgba(255,255,255,0.85);
}
.dark .card-read-more {
  border-top: 1px solid rgba(255,255,255,0.85);
}
.dark .card-read-more a {
  opacity: 0.7;
}