
html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #212112;
  background-color: #fbfbfb;
  overflow-x: hidden;
    transition: all 200ms linear;
}

p{
  margin: 0;
  padding-top: 10px;
    font-size: 18px;
    line-height: 1.3;
    transition:  all 500ms linear;
  -webkit-transition:  all 500ms linear;
  -o-transition:  all 500ms linear;
  -ms-transition:  all 500ms linear;
  padding: 10px 2px 12px;
  color: #1f1f1f;
  font-size: 1.15em;
}

h4{
  font-family: 'Open Sans';
  font-size: 24px;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 500;
  color: #212112;
  transition:  all 500ms linear;
  -webkit-transition:  all 500ms linear;
  -o-transition:  all 500ms linear;
  -ms-transition:  all 500ms linear;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
.card {
  position: relative;
  width: calc(100%);
  margin: 4px 0 12px;
  padding: 16px 12px 23px;
  transition: all .4s ease-in-out;
  background-color: #fcfcfc;
  height: calc(100% - 16px);
}
.card:hover {
  transform: scale(1.025);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.4);
  background-color: #fafafa;
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.date{
  float: right;
  left: 14px;
  right: 9px;
  bottom: 4px;
  opacity: 0.82;
  font-style: italic;
  font-size: 0.8em;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  font-size: 1.5em;
  text-transform: capitalize;
  padding: 5px 2px 2px;
  font-weight: 600;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more a {
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0,0,0,0.4);
  user-select: none;
    transition: all 0.4s ease-in-out;
    cursor:pointer;
    text-align: center; 
    padding: 12px 9px;
}
.card-read-more a:hover{
  background-color: #eaeaea;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


body.dark {
  color: rgba(255,255,255,0.6);
  background-color: #121212;
}
body.dark span{
    transition-delay: 0ms !important;
}
body.dark h4{
  color: #fff;
  opacity: 0.87;
}
body.dark p{
  opacity: 0.6;
  color: rgba(255,255,255,0.78);
}
.dark .card {
    background-color: #212121;
}
.dark .card:hover {
  background-color: #2f2f2f;
}
.dark .card-title a {
  color: rgba(255,255,255,0.85);
}
.dark .card-read-more a {
  background-color: #212121;

}
.dark .card-read-more a:hover{
  background-color: #2f2f2f;
}

.date .dark{
  opacity: 0.65;
}
